*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #040D12;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
    will-change: transform;
    text-align: center;
}

.ailen-planet {
    width: 100%;
    text-align: right;
}